// Put your custom CSS here!
// You can reference all variables in the Berkeley files

@media (min-width: 66.5rem) {
  .side-bar { width: 248px !important;}
  .main { margin-left: 264px !important;}


}

@media (min-width: 50rem) {
  .main { max-width: 100% !important;}

  .site-header {
    max-height: 150px !important;
    height: 100% !important;
  }
  
  .search-input {
    font-size: 0.9em !important;
  }

}

@media (max-width: 50rem) {
  .site-logo {
    background-position: center !important;
    height: 60px !important;
  }
}
.site-logo {
    background-position: center !important; 
  }
  

// hack: because "dk" and "lt" are redefined in dark.scss,
// this works with both dark mode and light mode

// $label-background-color: $grey-lt-100;
// $label-color: $grey-dk-100; 

// %card {
//     .label-grey {
//         background-color: $label-background-color;
//         color: $label-color;
//     }
// }

// commented out the above.
// for now, importing some custom definitions of
// just-the-class classes so that labels/whitespace look pretty
@import 'card';
@import 'announcement';
